# Ignore node_modules
/node_modules

# Ignore environment variables
/.env

# Ignore build output directories for frontend and backend
/chatFrontend/dist
/chatFrontend/node_modules

# Ignore logs and temporary files
*.log
*.swp
*.DS_Store
