# Ignore node_modules in the backend
/chatBackend/node_modules

# Ignore node_modules in the frontend
/chatFrontend/node_modules

# Ignore .env file in the backend
/chatBackend/.env

/chatFrontend/dist
